# Writes timestamps to persistent storage every minute
apiVersion: batch/v1
kind: CronJob 
metadata: 
  name: cronlogger-writer
spec:
  schedule: "* * * * *"  # This is standard format for every minute 
  successfulJobsHistoryLimit: 3 
  failedJobsHistoryLimit: 3
  concurrencyPolicy: Forbid
  jobTemplate:
    spec:
      template:
        spec:
          restartPolicy: OnFailure #pod level another one is Never
          volumes:
            # Shared storage for timestamp log
            - name: data
              persistentVolumeClaim:
                claimName: cronlogger-pvc
          containers:
            - name: writer
              image: busybox:1.36 # tiny Linux image with basic utilities
              command:
                - /bin/sh
                - -c
                - 'date -u +"%Y-%m-%dT%H:%M:%SZ" >> /data/timestamps.log'  # Append UTC timestamp
              volumeMounts:
                - name: data
                  mountPath: /data